doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title WTH?
		link(href="https://fonts.googleapis.com/css?family=Lato:400,400i" rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="css/styles.css")
		link(rel="icon" type="image/png" href="question.png")

	body
		block content

		block scripts