extends layout

block content

	.content
		h1 So, what's going to hose my commute to Denver <i>today</i> ?
		
		- var eventCount = eventDetails.length;

		case eventCount
			when 0
				h2.answer Looks like you should be safe today. Just your normal knuckleheads!
			when 1
				each event in eventDetails
					- var time = function(dateString) {return new Date(dateString).toLocaleTimeString([], {hour: '2-digit', minute: '2-digit', hour12: true}); };
					p Well, if you're going to be anywhere near #{event.venue.name}, #{event.name} is at #{time(event.eventDateLocal)}
			default
				h2 You're Fucked!

	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js")
	script $.backstretch("img/bg.png", {speed: 500})
