* {
  box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 2em;
}

.content {
	width: 80%;
	margin: 40px auto;
	padding: 20px;
	background-color: white;
	text-align: center;
	min-height: 100px;
}

.answer {
	padding: 40px 25px 5px;
	border-top: 4px solid lightgray;
}

.event {
	padding: 1em 0;
}

.event:nth-of-type(odd), .last {
	background-color: #eee;
}
